<%- include('../partials/header') %>

<h1>All Skills</h1>
<ul>
  <% skills.forEach(function(t) { %>
  <li>
    <a href="/skills/<%= t.id %>"><%= t.skill %></a>
    - <%= t.done ? 'done' : 'not done' %>
  </li>
  <% }); %>
</ul>




<%- include('../partials/footer') %>
