<%- include('../partials/header') %>


  <h3> <%= skill.skill %> </h3>
  <h3>Comlplete: <%= skill.done ? 'yes' : 'no' %></h3>
  <!-- <a href="/skills/<%=skill.id%>/edit">All Skills</a> -->
  
  <form method="POST" action="/skills/<%=skill.id%>?_method=DELETE">
    <button type="submit">Delete Skill</button>
  </form>
   
   <%- include('../partials/footer') %>